body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  /*color: #777;*/
}
#footer ul {
  list-style-type: none;
}


.bgimg-1, .bgimg-2, .bgimg-3 {
  /*position: relative;*/
  /*opacity: 0.65;*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  min-height: 100%;
}


.bgimg-2 {
  background-image: url("../img/slide2.jpg");
  min-height: 100%;
  margin-top:0;
  padding-top:0;
}

.bgimg-3 {
  background-image: url("../img/slide3.jpg");
  min-height: 100%;
}

.caption {
  position: absolute;
  left: 0;
  top: 30%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption h2 {
  font-size:60px;
  -webkit-text-stroke: 1px white;
  font-weight:bold;
}

.caption h1 {
  font-size:80px;
  font-weight:bold;
  -webkit-text-stroke: .4px white;
}


.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}

.caption h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.large {
  font-size:28px;
  font-weight: bold;
}

.medium {
  font-size:20px;
  /*font-weight: bold;*/
}

.small {
  font-size: 14px;
  /*font-weight: bold;*/
}
    .navbar {
        padding-right: 0px;
    }
.video {
  padding-bottom:0px;
  margin-bottom:0px;
}
.list-horizontal li {
  display:inline-block;
  font-size:30px;
  font-weight:bold;
  -webkit-text-stroke: .3px white;

}
.list-horizontal li:before {
  content: '\00a0\2022\00a0\00a0';
  color:#999;
  color:rgba(0,0,0,0.5);
  font-size:30px;

}
.list-horizontal li:first-child:before {
  content: '';
}

.desktop-no {
  display: none;
}

/*.moveImageRight {
  animation: moveRight 5s;
}

@keyframes moveRight {
  from {left: -2000px;}
  to {left:0px;}
}
*/

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
.bgimg-1 {
  min-height: 80%;
}

.bgimg-2 {
  min-height: 50%;
}

.bgimg-3 {
  min-height: 50%;
}

    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
    .mobile-no {
      display: none;
    }

    .caption h1 {
      margin-top:0px;
  font-size:50px;
  font-weight:bold;
  color:white;
  /*-webkit-text-stroke: .4px white;*/
}
.list-horizontal li {
  /*display:inline-block;*/
  font-size:12px;
  font-weight:bold;
  color:white;
  /*-webkit-text-stroke: .3px white;*/

}

.caption span.border {
  background-color: orange;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
}
.caption span.border a{
color:white;
}




}