.navbar{
	/*min-height: 66px;*/
	background-color: #999779;
}

.navbar-right {
	
	font-size: 13px;
	text-transform: uppercase;
	color: #fff;
	topransition-duration: 0.1s linear;
	-webkit-transition: 0.1s linear;
}

.navbar-nav > li > a {
	padding-top:40px;
	padding-bottom: 40px;
	color:white;
}

.set{
	background-color:#acab94;
}

.navbar-nav > li > a:hover {
	color:#999779;
}

.logo {
	margin-top:5px;
	position: absolute;
}

.main-nav {
	background-color:#ecdec5;
	min-height: 40px;
	color:#31302b;
	padding-top:10px;
	padding-bottom:10px;
	text-transform: uppercase;
	topransition-duration: 0.1s linear;
	-webkit-transition: 0.1s linear;
}

/*parallax*/
::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Parallax Scroll
   ========================================================================== */
body, html {
	height: 100%;
	min-height: 100%;
	background-color: #000000;
}
body {
	
}
.no-js {
	padding-top: 106px;
}

h1 h2 {
	margin-top: 0;
}
.loading {
	background: url('../img/ico_loading.gif') no-repeat center center;
}
section {
    opacity: 0;
	/*height: 360px;*/
}
.loaded section,
.no-js section {
	opacity: 1;
	-webkit-transition: opacity 300ms ease-out;
	-moz-transition: opacity 300ms ease-out;
	transition: opacity 300ms ease-out;
}
main {
	overflow-x: hidden;
}
#preload {
	width: 1px;
	height: 1px;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
}
.bcg {
    background-size: cover;
    height: 100%;
    width: 100%;
}

.hsContainer {
    display: table;
    table-layout: fixed;
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
}
    .hsContent {
        max-width: 80%;
        margin: -150px auto 0 auto;
        display: table-cell;
        vertical-align: middle;
        padding: 0 8%;
        text-align: center;
        position: relative;
    }
        .hsContent h1  {
        color: #fff8de;
        background-color: rgba(0,0,0,0.8);
        padding: 10px 5px;
        font-size: 35px;
        line-height: 23px;
        margin-bottom: 12px;
    }

    .hsContent h2  {
        color: #fff8de;
        background-color: rgba(0,0,0,0.8);
        padding: 10px 5px;
        font-size: 20px;
        line-height: 23px;
        margin-bottom: 12px;
    }
    .hsContent p {
        color: #fff8de;
        background-color: rgba(0,0,0,0.8);
        padding: 10px 15px;
        font-size: 18px;
        line-height: 20px;
        margin-bottom: 12px
    }
	.hsContent a {
		color: #b2b2b2;
		text-decoration: none;
	}

	/* Slide 1 */
	#slide-1 .bcg {background-image:url('../img/bg2-new.jpg')}
	#slide-1 .hsContent {}

	/* Slide 2 */
	#slide-2 .bcg {background-image:url('../img/slide2.jpg')}
	#slide-2 .hsContent {}
	#slide-2 h2 {}

/* Slide 1 */
#slide-2a .bcg {background-image:url('../img/slide2.jpg')}
#slide-2a .hsContent {}



	/* Slide 3 */
	#slide-3 .bcg {background-image:url('../img/slide3.jpg')}
	#slide-3 .hsContent {}
	    #slide-3 h2 {
	        color: #f2ead6;
	        background-color: rgba(0,0,0,0.6);
	    }

	/* Slide 4 */
	#slide-4 .bcg {
	    background-image:url('../img/bg1.jpg');
	    background-position: center center;
	}
	#slide-4 .hsContent {}
	    #slide-4 h2 {
	        padding-left: 0;
	        padding-right: 0;
	    }

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    body, html {
        height: auto;
    }
    .bcg {
        background-position: center center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        height: 100%;
        width: 100%;
    }
    section {
        min-width: 768px;
        height: 600px;
    }
    .hsContainer {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: relative;
    }
    .hsContent {
        max-width: 700px;
        position: absolute;
        left: 50%;
        top: 40%;
        text-align: left;
        padding: 0;
    }
        .hsContent h2  {
            font-size: 35px;
            line-height: 38px;
            text-align:center;
        }

    .hsContent h1  {
        font-size: 35px;
        line-height: 38px;
    }
        .hsContent p {
            /*width: 500px;*/
        }
    #slide-1 .hsContent {
        bottom:200px;
        /*top: auto;*/
        margin-left: -300px;
    }
    #slide-2 .hsContent {
        margin-left: -340px;
        top: auto;
    }
    #slide-2 h2 {
        position: fixed;
        top: 50%;
    }

    #slide-2a .hsContent {
        bottom:200px;
        /*top: auto;*/
        margin-left: -300px;
    }
    #slide-3 .hsContent {
        margin-left: -300px;
    }
    #slide-4 .hsContent {
        margin-left: -70px;
        /*position: fixed;*/
    }
    #slide-4 h2 {
        background: none;
    }

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}


/*buttons*/

.btn{
text-transform: uppercase;
font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
font-weight: 400;
-webkit-transition: all .3s ease-in-out;
-moz-transition: all .3s ease-in-out;
transition: all .3s ease-in-out;
}


.btn-circle {
width: 70px;
height: 70px;
margin-top: 15px;
padding: 7px 16px;
border: 2px solid #fff;
border-radius: 35px;
font-size: 40px;
color: #fff;
background: 0 0;
}

.btn.copper {
color: #fff;
background: #ef672f;
box-shadow: inset 0 0 0 0 #c14800;
transition-duration: 0.7s;
-webkit-transition: 0.7s;
}

.btn.large {
padding: 55px 60px;
}

.btn.copper:hover {
box-shadow: inset 0 100px 0 0 #c14800;
transition-duration: 0.4s;
-webkit-transition: 0.4s;
}

/*navigation*/
/*#menu1, #menu2, #menu3, #menu4, #menu5, #menu6, #menu7, #menu8 {*/
    /*margin: 5px auto 260px;*/
/*}*/

#menu1 {
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
    background-color: #ecdec5;
    height: 40px;
    /*-webkit-border-radius: 5px;*/
    /*-moz-border-radius: 5px;*/
    /*-ms-border-radius: 5px;*/
    /*-o-border-radius: 5px;*/
    /*border-radius: 5px;*/
    padding: 0;
    display: block;
    line-height: 1;
    width: 800px;
}

#menu1 h1, #menu1 ul, #menu1 p, #menu1 img {
    margin: 0;
    padding: 0;
    border: 0
}

#menu1 h1 {
    font-weight: 400
}

#menu1 ul {
    list-style: none
}

#menu1 a {
    text-decoration: none;
    color: white
}

#menu1 .menu-label {
    font-weight: 700;
    text-transform: uppercase
}

#menu1 .menu-top > li {
    float: left;
    position: relative;
    text-align: center;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}

#menu1 .menu-top > li:hover {
    background-color: #4a4a4a;
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}

#menu1 .menu-top .menu-right {
    float: right
}

#menu1 .menu-button {
    display: block;
    line-height: 40px;
    padding: 0 13px;
    color: #402a13;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

#menu1 li:hover .menu-button {
    color: #fff;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

#menu1 .menu-drop {
    padding-right: 15px
}

#menu1 .menu-drop .menu-label {
    /*padding-right: 20px;*/
    /*background: url(../images/menu1-drop1.png) no-repeat right;*/
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s
}

#menu1 li:hover .menu-drop .menu-label {
    /*background: url(../images/menu1-drop2.png) no-repeat right;*/
    -webkit-transition: background .2s;
    -moz-transition: background .2s;
    -ms-transition: background .2s;
    -o-transition: background .2s;
    transition: background .2s
}

#menu1 .menu-dropdown {
    text-align: left;
    background-color: #4a4a4a;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -ms-border-radius: 0 0 5px 5px;
    -o-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: -5000px;
    opacity: 0;
    z-index: 100
}

#menu1 li:hover .menu-dropdown {
    left: 0;
    opacity: 1;
    -webkit-transition: opacity .2s;
    -moz-transition: opacity .2s;
    -ms-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s
}

#menu1 .menu-right:hover .menu-dropdown {
    left: auto;
    right: 0
}

#menu1 .menu-sub {
    margin: 5px 0
}

#menu1 .menu-sub li {
    white-space: nowrap;
    -webkit-transition: background-color .1s;
    -moz-transition: background-color .1s;
    -ms-transition: background-color .1s;
    -o-transition: background-color .1s;
    transition: background-color .1s
}

#menu1 .menu-sub li:hover {
    /*background: #2a2a2a url(../images/menu1-select.png) no-repeat 10px;*/
    -webkit-transition: background-color .2s;
    -moz-transition: background-color .2s;
    -ms-transition: background-color .2s;
    -o-transition: background-color .2s;
    transition: background-color .2s
}

#menu1 .menu-subbutton {
    display: block;
    padding: 7px 20px;
    line-height: 1.3;
    color: #ecdec5;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

#menu1 .menu-sub li:hover .menu-subbutton {
    color: #fff;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

#menu1 .menu-desc {
    font-style: italic;
    color: #a0a0a0;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

#menu1 .menu-sub li:hover .menu-desc {
    color: #d0d0d0;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
    transition: color .2s
}

#menu1 .menu-row {
    vertical-align: text-top;
    display: inline-block;
    zoom: 1;
    *display: inline
}

#menu1 .menu-row .menu-sub {
    margin: 0
}

#menu1 h1 {
    font-size: 2em;
    color: white
}

#menu1 p {
    color: #e5e5e5
}

#menu1 .emp {
    font-weight: 700
}

#menu1 .quote {
    font-style: italic
}

#menu1 .menu-dropdown3 {
    padding-top: 5px;
    white-space: nowrap
}

#menu1 .menu-dropdown3 h1 {
    /*margin: 0 0 5px 20px*/
}

#menu1 .menu-dropdown3 .menu-row {
    border-right: 1px dotted #707070;
    margin: 5px 0
}

#menu1 .menu-dropdown3 .menu-row:last-child {
    border-right: 0
}

#menu1 .menu-dropdown4 {
    padding-top: 5px;
    white-space: nowrap
}

#menu1 .menu-dropdown4 h1 {
    margin: 0 0 5px 20px
}

#menu1 .menu-dropdown4 .menu-row div {
    border-right: 1px dotted #707070;
    margin: 5px 0 10px
}

#menu1 .menu-dropdown4 .menu-row:last-child div {
    border-right: 0
}

#menu1 .menu-dropdown4 .menu-row div:last-child {
    margin-bottom: 5px
}

#menu1 .menu-dropdown6 img {
    margin-right: 5px;
    vertical-align: middle
}

#menu1 .menu-dropdown6 .menu-label {
    vertical-align: middle
}

#menu1 .menu-dropdown6 .menu-subbutton {
    padding: 5px 20px
}

#menu1 .menu-dropdown7 {
    padding: 10px;
    width: 210px
}

#menu1 .menu-dropdown7 p {
    margin-top: 7px
}

#menu1 .menu-dropdown7 h1 {
    color: #e0e0e0;
    padding-bottom: 3px;
    border-bottom: 1px solid #858585
}

.col-sm-12 {
    width: 100%;
    margin-bottom: 80px;
}

.image_center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.leftContext {
    max-width: 700px;
    position: absolute;
    /*left: 10%;*/
    top: 8%;
    text-align: left;
    padding: 0;
    max-width: 80%;
    margin: -150px auto 0 auto;
    display: table-cell;
    vertical-align: middle;
    padding: 0 8%;
    text-align: center;
    position: relative;

}

.leftContext h2 {
    /*font-size: 35px;*/
    line-height: 38px;
    color: #fff8de;
    background-color: rgba(0,0,0,0.5);
    padding: 10px 5px;
    /*font-size: 20px;*/
    line-height: 23px;
    margin-bottom: 12px;
}

.vid{
    width:470px;
    height:300px;
}

.h2_color{
    color:black !important;
}


@media (max-width: 767px) {
    .main-nav{
        display:none;
    }
    .hsContent h1 {
        color: #fff8de;
        background-color: rgba(0,0,0,0.5);
        /*padding: 10px 5px;*/
        font-size: 18px;
        line-height: 23px;
        margin-bottom: 12px;
        margin-top:100px;
    }
    .hsContent h2{
        /*display:none;*/
    }
    .hsContent p {
        display:none;
    }
    .leftContext {
        /*max-width: 700px;*/
        position: absolute;
        /* left: 10%; */
        top: 8%;
        text-align: left;
        padding: 0;
        max-width: 80%;
        /*margin: -150px auto 0 auto;*/
        display: table-cell;
        vertical-align: middle;
        padding: 0 8%;
        text-align: center;
        position: relative;
    }
    .leftContext h2 {
         font-size: 18px;
        line-height: 38px;
        color: #fff8de;
        background-color: rgba(0,0,0,0.5);
        /*padding: 10px 5px;*/
        /* font-size: 20px; */
        line-height: 23px;
        margin-bottom: 12px;
    }
    section {
        opacity: 0;
        height: 360px;
    }
    .image_center{
        /*display:none;*/
        height:100px;
        width:100px;
    }
    .vid{
        width:300px;
        height:200px;
    }
    .mobile{
        display:none;
    }
    .h2_color{
        color:white;
    }
    .jumbotron p{
        text-align: center;
    }

}